<div class="container imageFeed__search">
    <div class="row">
        <div class="col-xs-12">
            <form (ngSubmit)="doSearch()" class="form-inline">
                <select [(ngModel)]="tag_search" name="tag_search" class="form-control imageFeed__search--dropdown">
                    <option value="airport,hotels" selected>Airport Hotels</option>
                    <option value="airport,parking">Airport Parking</option>
                    <option value="airport,lounges">Airport Lounges</option>
                    <option value="airport,transfers">Airport Transfers</option>
                    <option value="car,hire">Car Hire</option>
                    <option value="insurance">Insurance</option>
                    <option value="theatre,tickets">Theatre Tickets</option>
                </select>

                <button class="btn btn-primary imageFeed__search--submit" type="submit">Search</button>
            </form>
        </div>
    </div>
</div>

<div class="row" *ngIf="images">
    <div class="col-xs-12 col-md-3" *ngFor="let image of images">
        <he-image [image]="image"></he-image>
    </div>
</div>