:host {
    .imageFeed__search {
        padding-bottom: 30px;
        padding-top: 30px;

        form {
            margin: 0 auto;
            width: 330px;
        }
    }

    .imageFeed__search--dropdown {
        width: 250px;
    }
}

@media (max-width: 768px) {
    :host {
        .imageFeed__search {
            form {
                width: 100%;
            }
        }

        .imageFeed__search--dropdown {
            float: left;
            margin-right: 5px;
            width: auto;
        }
    }
}