@import '../app/config/style.config.scss';

/* Reset */
html, body, div {
  border: 0;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  width: 100%;
}

body {
  display: flex;
  flex-direction: column;
  padding-top: 100px;
}

*, *:before, *:after {
  box-sizing: border-box;
}

body {
  background-color: $color-white;
  background-position: top center;
  background-image: url("/assets/img/bg-airport-white-10.jpg");
  background-size: 750px;

  font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a { color: $color-link; }