<div class="image__img--container">
    <a href="#" class="image__img--link glyphicon glyphicon-new-window"></a>
    <div class="image__img" *ngIf="image" [ngStyle]="{'background-image': 'url(' + image.url_m + ')'}"></div>
</div>

<div class="image__title--author">
    <span>by <a href="#">{{image.ownername}}</a></span>
</div>

<div class="image__info">
    <div class="image__title">
        <a href="#" target="_blank" title="{{image.title}}" class="image__title--text">{{image.title}}</a>
    </div>
    <div class="image__description" [innerHTML]="image.description._content"></div>
    <div class="image__tags" *ngIf="image.tagsArray">
        <a href="https://www.flickr.com/photos/tags/{{tag}}" class="image__tag" *ngFor="let tag of image.tagsArray">{{tag}}</a>
    </div>
</div>