@import '../../config/style.config.scss';

@mixin truncateText() {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

@mixin contentEndShadow() {
    &:before {
        background: linear-gradient(to top, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%);
        bottom: 0;
        content: "";
        display: block;
        height: 20px;
        position: absolute;
        width: 100%;
    }
}

:host {
    background: $color-white;
    border: 1px solid rgb(200, 200, 200);
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.25);
    display: block;
    height: 400px;
    margin-bottom: 20px;
    padding: 10px;
    position: relative;

    .image__img {
        background-position: center center;
        background-repeat: none;
        background-size: 100% auto;
        height: 160px;
        width: 100%;
    }

    .image__img--container {
        overflow: hidden;
        position: relative;
        z-index: 1;

        &:hover, &:focus {
            .image__img {
                filter: blur(3px) grayscale(100%) brightness(65%);
            }

            .image__img--link {
                border-color: $color-pink;
                display: block;

                &:before { color: $color-pink; }
            }
        }
    }

    .image__img--link {
        border: 3px solid $color-link;
        border-radius: 50px;
        display: none;
        height: 50px;
        left: 50%;
        margin-left: -25px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        width: 50px;
        z-index: 3;

        &:before {
            font-size: 16px;
            left: 50%;
            margin-left: -8px;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
        }
    }

    .image__info {
        overflow: hidden;
        width: 100%;
    }

    .image__title {
        display: table;
        table-layout: fixed;
        width: 100%;
        white-space: nowrap;

        > * {
            display: table-cell;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }

    .image__title--text {
        display: block;
        font-size: 0.9em;
        font-weight: bold;
        height: 36px;
        line-height: 38px;
        text-decoration: none;
        
        @include truncateText;

        &:hover, &:focus { color: $color-pink; }
    }

    .image__title--author {
        background: rgba(0, 0, 0, 0.4);
        color: $color-white;
        font-size: 0.8em;
        height: 20px;
        line-height: 20px;
        margin-top: -20px;
        padding: 0 10px;
        position: relative;
        text-align: right;
        z-index: 2;

        a { color: $color-white; }

        span {
            display: inline-block;
            width: 75%;

            @include truncateText;
        }
    }

    .image__description {
        font-size: 0.8em;
        height: 100px;
        overflow-x: hidden;
        overflow-y: hidden;
        position: relative;
        word-wrap: break-word;

        @include contentEndShadow;

        /deep/ a {
            text-decoration: none;

            &:hover, &:focus { color: $color-pink; }
        }
    }

    .image__tags {
        bottom: 0;
        height: 72px;
        left: 0;
        margin: 0 10px 10px;
        overflow-x: hidden;
        overflow-y: hidden;
        position: absolute;
        right: 0;

        @include contentEndShadow;
    }

    .image__tag {
        background: rgb(248, 248, 248);
        border: 1px solid rgb(220, 220, 220);
        display: inline-block;
        font-size: 0.8em;
        margin-bottom: 3px;
        margin-right: 3px;
        padding: 2px 5px;
        text-decoration: none;

        &:hover, &:focus {
            background: rgb(242, 242, 242);
            color: $color-pink;
        }
    }
}