<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <img class="hx-logo" src="assets/img/hx-logos-rgb/hxlogo.png" />
  </div>
</nav>

<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12">
            <he-image-feed></he-image-feed>
        </div>
    </div>
</div>